@model cataloguehetm.ViewModels.ArticleAdminListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lists";
}



<div id="content">
 


        @{
                float prix = 0 ;
                foreach (var article in Model.article)
                {
                prix = @article.Priceht +((@article.Priceht * @article.Tva)/100);
                <div class="divArticle">
                        <div class="imgArticle">
                        
                            <img src="@article.Urlimage" /> 
                        </div>
                        <div class="descriptionArticle">
                            <p>
                            <b>Nom :</b> @article.Name <br/>
                            <b>Prix :</b> @prix €<br/>
                                <div class="bt_aj">
                                <a href="/panier/formAdd/@article.Id" class="bouton_ajouter"> ajouter au panier </a>
                                </div>
                            </p>
                            @if (!string.IsNullOrEmpty(article.CodeVideo))
                            {
                            <div class="article_Video">
                                <iframe width="854" height="480" src="https://www.youtube.com/embed/@article.CodeVideo" frameborder="0" allowfullscreen></iframe>
                            </div>
                            }
                            @article.poids;
                         </div>
                </div>                

            }
        }



   


</div>

